*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif; 
}

:root{
    --primary-color:#EFBC52;
    --secondry-color:#0A2647;
    --section-bg:#F5F5DC;
}



a.navbar-brand{
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 500;
}

a.nav-link{
    color: var(--section-bg);
    font-weight: 300;
}

a.nav-link:hover{
    color:#fff;
}

section.hero{
    background-image: url(img/hero.png);
    color: #fff;
     background-size: cover;
    background-position: center;
    padding-bottom: 80px;
}

section.hero p.subtext{
    font-weight: 400;
    color: #ddd;
}


section.hero h1{
    font-size: 52px;
    font-weight: 600;
}

section.hero button.btn{
    background-color: var(--primary-color);
    font-weight: 500;
}


span{
    color: var(--primary-color);
}

/* services */

h2.subheading{
    text-align: center;
    font-weight: 600;
    color: var(--secondry-color);
}
.headtext{
    font-weight: 500;
    text-align: center;
    color: var(--secondry-color);
}
.s-card{
    padding:10px;
    box-shadow: 2px 2px 4px #ebebeb;
    position: relative;
    width: 30% !important;
    border-radius: 12px;
    background-color:#fce2ab
    /* margin-inline: 4px; */
}

.s-card h4{
    margin-top: 25px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.icon{
    padding: 10px;
    background-color: #000;
    border-radius: 12px;
    width: max-content;
    position: absolute;
    top: -25px;
    left: 40%;

}

.icon img{
    width: 35px;
}

/* about */

section.about{
    background-color: var(--section-bg);
}

section button.btn{
    background-color: var(--primary-color);
    font-weight: 500;
    margin-top: 20px;
}


/* package */


.pack-card{
    background-color: #1E2232;
    color: #fff;
    padding: 40px 20px;
    border-radius: 12px;
    width: 30%;
}

.pack-card h3{
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 20px;
}

.pack-card li{
    list-style: none;
    margin-block: 10px;
    font-weight: 300;
}

.pack-card button{
    width: 100%;
}

.premium{
    position: relative;
}

.premium img.big{
    position: absolute;
    right: 24px;
    top: 80px;
}

p.tag{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: #000;
    font-weight: 500;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
}


/* testimonial */

.test{
    position: relative;
    border-radius:12px ;
    background-color: #fff;
    width: 33%;
    box-shadow: 2px 4px 6px #929292;
}

.test p{
    font-size: 14px;
    font-weight: 300;
}

.test h5{
    text-align: end;
    color: #444;
}

.test img{
    margin-block: 5px;
    z-index: 1;
    height: 180px;
    margin-left: 20px;

}

q{
    color: #444;
    font-size: 13px;
}



.test::before{
    content: "";
    position: absolute;
    left: 0;
    height: 30px;
    width: 105px;
    height: 100%;
    background-color:var(--primary-color) ;
    z-index: 1 ;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}


/* CONTACT */

.symbol{
    padding: 14px;
    background-color: #000;
    border-radius: 100%;
}

.symbol img{
    width: 25px;
}

.touch{
    padding: 20px ;
    border-radius: 12px;
    background-color: #FFD478;
    height: fit-content;
}

.form{
    background-color:#FFD478 ;
    padding: 20px;
    border-radius: 12px;
}


section.contact{
    background-color: var(--section-bg);
}

textarea{
    border-radius: 8px;
}

form button{
    width: 100%;
}

.social-card{
    background-color: #fff;
    width: 33%;
    box-shadow: 2px 2px 8px #999;
    border-radius: 12px;
}

.social-card img{
    width: 100%;
}

footer{
    background-color: var(--secondry-color);
    color: #fff;
}
.navbar-toggler-icon{
    background-image: url(img/menu.png);
}


@media (max-width:768px) {
    .row{
        flex-direction: column;
    }

    .s-card{
        width:90% !important;
        margin: auto;
    }


    .image img{
        width: 90% !important;
        display:block;
        margin:auto 20px;
        
    }

    .pack-card{
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }

    .test{
        width: 90%;
        margin: auto;
        margin-top: 40px;
    }

    

    .social-card{
        width: 90%;
        margin-top: 25px !important;
        margin: auto;
        padding-bottom:8px;
    }

    .touch{
        width: 90%;
        margin: auto;
        margin-bottom: 40px;
    }

    .symbol img{
        width: 18px;
    }



    .info{
        font-size: 70%;
    }

    textarea{
        width: 100%;
        height: 50%;
    }

    .hero h1.title{
        font-size:30px !important;
        text-align:center;
    }

       .test::before{
        content: "";
        position: absolute;
        left: 0;

        width: 100%;
        height: 180px;
        background-color:var(--primary-color) ;
        /* z-index: 1 ; */
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 0 !important;
    }

    .test img{
        position: relative;
        display: block;
        margin: auto;
        z-index: 1;
        height: 180px;
     
    }

    .test q{
        font-size: 16px;
    }
 
 
}
